<html>
<div class="home">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		{%- if page.title -%}
		  <title>{{page.title | default: "Slides"}}</title>
		{%- endif -%}

		<link rel="stylesheet" href="/reveal.js/dist/reset.css">
		<link rel="stylesheet" href="/reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="/assets/slides/tpp.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css" id="highlight-theme">
	</head>

	<div class="reveal">
	  <div class="slides">

{{ content }}

		</div>
	</div>

	<script src="/reveal.js/dist/reveal.js"></script>
	<script src="/reveal.js/plugin/math/math.js"></script>
	<script>
		Reveal.initialize({
			history: true,
			transition: 'linear',

			mathjax2: {
				config: 'TeX-AMS_HTML-full',
				TeX: {
					Macros: {
						pos: '\\mathbf{x}',
						pol: '\\mathbf{p}',
						d: '\\mathrm{d}',
						Fact: '\\mathbf{F}^{\\mathrm{active}}',
						Fcc: '\\mathbf{F}^{\\mathrm{interaction}}',
						dydx: [ '\\frac{\\d #1}{\\d #2}', 2 ],
						pdydx: [ '\\frac{\\partial #1}{\\partial #2}', 2 ]
					}
				}
			},

			// There are three typesetters available
			// RevealMath.MathJax2 (default)
			// RevealMath.MathJax3
			// RevealMath.KaTeX
			//
			// More info at https://revealjs.com/math/
			plugins: [ RevealMath.MathJax2 ]
		});
	</script>
</div>
</html>
